*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
}

/* Header */

.main-header{
    background-color: #ffffff;
}

.main-header-content{
    padding: 10px;
}

.header-title{
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    margin-left: 5px;
    vertical-align: bottom;
}

/* Main */

.wrapper{
    max-width: 70%;
    margin: 30px auto;
    background-color: #ffffff;
    border-radius: 10px;
}

.container{
    padding: 10px 50px;
}

/* Form */

.form{
    border-bottom: 3px solid #eeeeee;
}

.buttons{
    margin: 2% 0 2% 0;
    padding: 2%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.buttons:hover{
    border: 2px solid black;
}

.colored{
    background-color: #3eb4e7;
    color: #ffffff;
}

.uncolored{
    background-color: #ffffff;
    border: 0.5px solid rgba(39, 37, 37,0.5);
    color: rgba(39, 37, 37,0.3)
}

/* Section */
.display-inline{
    display: inline;
}

.vertical-align{
    vertical-align: super;
}

.main-item-list{
    margin: 20px 0;
}

/* Colored Tags */

.tag{
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 10px;
    color: #ffffff;
    vertical-align: super;
}

.bg_blue{
    background-color: #3eb4e7;
}

.bg_violet{
    background-color: #885ab5;
}

.bg_green{
    background-color: #88cd56;
}

.bg_orange{
    background-color: #e19a17;
}

.bg_pink{
    background-color: #d28cb9;
}










