*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    background-color: #eeeeee;
}

/* Header */

.main-header{
    background-color: #ffffff;
}

.main-header-content{
    padding: 10px;
}

.header-title{
    display: inline-block;
    font-size: 50px;
    font-weight: 400;
    margin-left: 5px;
    vertical-align: bottom;
}

/* Main */

.wrapper{
    max-width: 70%;
    margin: 30px auto;
    background-color: #ffffff;
    border-radius: 10px;
}

.container{
    max-width:80%;
    margin: 0 auto;
}

/* Form */

.buttons{
    margin: 2% 0 2% 0;
    padding: 2%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.buttons:hover{
    border: 2px solid black;
}

.colored{
    background-color: #3eb4e7;
    color: #ffffff;
}

.uncolored{
    background-color: #eeeeee;
    border: none;
}

/* Section */

.section{
    padding: 5% 0;
}

.section-title{
    font-size: 25px;
}

.display-inline{
    display: inline;
}

.vertical-align{
    vertical-align: super;
}

/* Highlighting */

.highlight{
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 10px;
    color: #ffffff;
    vertical-align: super;
}

.bg_blue{
    background-color: #3eb4e7;
}

.bg_violet{
    background-color: #885ab5;
}

.bg_green{
    background-color: #88cd56;
}

.bg_orange{
    background-color: #e19a17;
}

.bg_pink{
    background-color: #d28cb9;
}










